<div class="bg-lightgray">
  <div class="break-words flex flex-col md:flex-row">
    <!-- Info-->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="md:w-full p-7">
        <div class="w-full">
          <h1 class="text-4xl md:text-7xl pt-4 break-words">
            Where Technology Works
            <strong class="totalwords md:text-7xl text-3xl break-words">
              Automagically
            </strong>
          </h1>
          <p class="text-2xl md:text-3xl pt-4 mt-10 break-words">
            For demanding clients and challenging projects
          </p>
          <div class="flex flex-col md:flex-row pt-4">
            <button
              class="w-full p-2 bg-black text-white rounded-full hover:bg-customvert"
            >
              View Services
            </button>
            <button
              class="mt-2 p-2 md:mt-0 md:ml-2 w-full border border-black rounded-full hover:bg-customvert hover:text-white"
            >
              Learn More
            </button>
          </div>
        </div>
      </div>

      <!-- Testimonials -->
      <div class="w-full">
        <app-testimonials></app-testimonials>
      </div>
    </div>
  </div>

  <div class="container mx-auto">
    <app-choosevertex class="p-4 mt-8"></app-choosevertex>

    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 p-8">
        <hr class="mb-4 max-w-xs h-1 bg-red-800" />
        <h1 class="text-4xl break-words">Why Choose Vertex</h1>
        <p class="text-gray-400 text-xl mt-5">
          To turn your ideas into a scalable product?
        </p>
        <p class="text-gray-400 mt-10 text-xl break-words">
          We intend to change the success process and make it feasible for
          businesses to acquire useful insights with less work and disturbance,
          allowing them to grow and improve.
        </p>
        <button
          class="mt-4 bg-black p-4 text-white rounded-xl hover:bg-customvert"
        >
          About Us
        </button>
      </div>
      <div class="md:w-1/2 p-8">
        <h1 class="text-2xl break-words">Reliable</h1>
        <p class="text-gray-400 text-xl break-words">
          Reliable With 450+ experts on our team and 400+ products launched for
          our customers, we have already solved something similar to what you're
          struggling with right now.
        </p>
        <hr class="border-gray-400 my-4" />
        <h1 class="text-2xl break-words">Customer-Driven</h1>
        <p class="text-gray-400 text-xl break-words">
          You can dive as deep as you'd like: we're ready to free you from those
          development tasks you're not interested in so you could focus on what
          really matters.
        </p>
        <hr class="border-gray-400 my-4" />
        <h1 class="text-2xl break-words">Industry Veterans</h1>
        <p class="text-gray-400 text-xl break-words">
          Whether you need to develop a new product or improve an existing one,
          we meet your needs. If it's 1 or 50 developers - we scale up and down
          to advance your project.
        </p>
        <hr class="border-gray-300 my-4" />
      </div>
    </div>
  </div>
  <div class="break-words">
    <app-indweserve></app-indweserve>
  </div>
</div>
