<title>Ng007</title>
<div class=" mt-4 flex items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Staffing & Recruiting</h5>
              <p class="text-gray-600 truncate-text">
                Vertex is a leading provider of human resources solutions that
                help businesses across various industries meet their staffing
                needs. We understand that every client has unique needs and
                demands when it comes to staffing. That's why we offer
                customizable staffing solutions that can be tailored to meet the
                specific requirements of each client. At Vertex, we believe that
                the key to success is in building strong relationships with our
                clients. We take the time to understand the unique needs of each
                client and work closely with them to develop staffing solutions
                that meet those needs. Our goal is to provide exceptional service
                and deliver the highest-quality candidates to our clients, helping
                them to achieve their business objectives. Vertex is committed to
                delivering exceptional staffing solutions and helping our clients
                achieve their business goals. With our customizable staffing
                solutions, extensive network of job seekers, and range of
                workforce management services, we are well-positioned to meet the
                needs of any business, in any industry.
              </p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Custom Software Development</h5>
              <p class="text-gray-600 truncate-text">
                Our developers are proficient in various programming languages and
                have experience working with different frameworks and
                technologies. We provide custom enterprise-wide software solutions
                that support business infrastructure. At Vertex, we understand
                that every business has unique software needs, that’s why we take
                a collaborative approach to software development, working closely
                with our clients to ensure that our solutions are aligned with
                their business goals and objectives. Our team of developers,
                architects, and project managers work together to deliver
                high-quality software solutions that meet or exceed our clients'
                expectations. Join a group that puts its culture first. Even if we
                don't take ourselves seriously, we take the things that matter
                very seriously. Join forces with a group of SaaS developers
                dedicated to making great solutions for their customers.
              </p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Staffing & Recruiting</h5>
              <p class="text-gray-600 truncate-text">
                Vertex is a leading provider of human resources solutions that
                help businesses across various industries meet their staffing
                needs. We understand that every client has unique needs and
                demands when it comes to staffing. That's why we offer
                customizable staffing solutions that can be tailored to meet the
                specific requirements of each client. At Vertex, we believe that
                the key to success is in building strong relationships with our
                clients. We take the time to understand the unique needs of each
                client and work closely with them to develop staffing solutions
                that meet those needs. Our goal is to provide exceptional service
                and deliver the highest-quality candidates to our clients, helping
                them to achieve their business objectives. Vertex is committed to
                delivering exceptional staffing solutions and helping our clients
                achieve their business goals. With our customizable staffing
                solutions, extensive network of job seekers, and range of
                workforce management services, we are well-positioned to meet the
                needs of any business, in any industry.
              </p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Staffing & Recruiting</h5>
              <p class="text-gray-600 truncate-text">
                Vertex is a leading provider of human resources solutions that
                help businesses across various industries meet their staffing
                needs. We understand that every client has unique needs and
                demands when it comes to staffing. That's why we offer
                customizable staffing solutions that can be tailored to meet the
                specific requirements of each client. At Vertex, we believe that
                the key to success is in building strong relationships with our
                clients. We take the time to understand the unique needs of each
                client and work closely with them to develop staffing solutions
                that meet those needs. Our goal is to provide exceptional service
                and deliver the highest-quality candidates to our clients, helping
                them to achieve their business objectives. Vertex is committed to
                delivering exceptional staffing solutions and helping our clients
                achieve their business goals. With our customizable staffing
                solutions, extensive network of job seekers, and range of
                workforce management services, we are well-positioned to meet the
                needs of any business, in any industry.
              </p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Staffing & Recruiting</h5>
              <p class="text-gray-600 truncate-text">
                Vertex is a leading provider of human resources solutions that
                help businesses across various industries meet their staffing
                needs. We understand that every client has unique needs and
                demands when it comes to staffing. That's why we offer
                customizable staffing solutions that can be tailored to meet the
                specific requirements of each client. At Vertex, we believe that
                the key to success is in building strong relationships with our
                clients. We take the time to understand the unique needs of each
                client and work closely with them to develop staffing solutions
                that meet those needs. Our goal is to provide exceptional service
                and deliver the highest-quality candidates to our clients, helping
                them to achieve their business objectives. Vertex is committed to
                delivering exceptional staffing solutions and helping our clients
                achieve their business goals. With our customizable staffing
                solutions, extensive network of job seekers, and range of
                workforce management services, we are well-positioned to meet the
                needs of any business, in any industry.
              </p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Staffing & Recruiting</h5>
              <p class="text-gray-600 truncate-text">
                Vertex is a leading provider of human resources solutions that
                help businesses across various industries meet their staffing
                needs. We understand that every client has unique needs and
                demands when it comes to staffing. That's why we offer
                customizable staffing solutions that can be tailored to meet the
                specific requirements of each client. At Vertex, we believe that
                the key to success is in building strong relationships with our
                clients. We take the time to understand the unique needs of each
                client and work closely with them to develop staffing solutions
                that meet those needs. Our goal is to provide exceptional service
                and deliver the highest-quality candidates to our clients, helping
                them to achieve their business objectives. Vertex is committed to
                delivering exceptional staffing solutions and helping our clients
                achieve their business goals. With our customizable staffing
                solutions, extensive network of job seekers, and range of
                workforce management services, we are well-positioned to meet the
                needs of any business, in any industry.
              </p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Staffing & Recruiting</h5>
              <p class="text-gray-600 truncate-text">
                Vertex is a leading provider of human resources solutions that
                help businesses across various industries meet their staffing
                needs. We understand that every client has unique needs and
                demands when it comes to staffing. That's why we offer
                customizable staffing solutions that can be tailored to meet the
                specific requirements of each client. At Vertex, we believe that
                the key to success is in building strong relationships with our
                clients. We take the time to understand the unique needs of each
                client and work closely with them to develop staffing solutions
                that meet those needs. Our goal is to provide exceptional service
                and deliver the highest-quality candidates to our clients, helping
                them to achieve their business objectives. Vertex is committed to
                delivering exceptional staffing solutions and helping our clients
                achieve their business goals. With our customizable staffing
                solutions, extensive network of job seekers, and range of
                workforce management services, we are well-positioned to meet the
                needs of any business, in any industry.
              </p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col">
        <a href="/staffing-recruiting" class="card-link">
          <div
            class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1"
          >
            <img
              src="assets/image1.png"
              class="w-full h-48 object-cover mb-4 rounded-md"
              alt="Image Alt Text"
            />
            <div class="card-body">
              <h5 class="text-2xl font-bold mb-2">Staffing & Recruiting</h5>
              <p class="text-gray-600 truncate-text">
                Vertex is a leading provider of human resources solutions that
                help businesses across various industries meet their staffing
                needs. We understand that every client has unique needs and
                demands when it comes to staffing. That's why we offer
                customizable staffing solutions that can be tailored to meet the
                specific requirements of each client. At Vertex, we believe that
                the key to success is in building strong relationships with our
                clients. We take the time to understand the unique needs of each
                client and work closely with them to develop staffing solutions
                that meet those needs. Our goal is to provide exceptional service
                and deliver the highest-quality candidates to our clients, helping
                them to achieve their business objectives. Vertex is committed to
                delivering exceptional staffing solutions and helping our clients
                achieve their business goals. With our customizable staffing
                solutions, extensive network of job seekers, and range of
                workforce management services, we are well-positioned to meet the
                needs of any business, in any industry.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  